<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
			{% for item in site.posts reversed limit: 3 %}
				{% if forloop.first == true %}
					<li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
				{% else %}
					<li data-target="#carouselIndicators" data-slide-to="{{ forloop.index0 }}"></li>
				{% endif %}
			{% endfor %}
		</ol>

    <div class="carousel-inner rounded mb-3">
			{% for item in site.posts reversed limit: 3 %}
				{% if forloop.first == true %}
					<div class="carousel-item active">
						<div class="carousel-img">
							<img class="d-block w-100" src="{{ item.image | relative_url}}" alt="slide">
						</div>
						<div class="carousel-caption">
							<h5>{{ item.title }}</h5>
							<p>{{ item.content | truncate: 50 }}</p>
							<a href="{{ item.url }}" class="btn-sm btn-success">Read</a>
						</div>
					</div>
				{% else %}
					<div class="carousel-item">
						<div class="carousel-img">
							<img class="d-block w-100" src="{{ item.image | relative_url}}" alt="slide">
						</div>
						<div class="carousel-caption">
							<h5>{{ item.title }}</h5>
							<p>{{ item.content | truncate: 50 }}</p>
							<a href="{{ item.url }}" class="btn-sm btn-success">Read</a>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>

    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>