<nav class="col-md-2 d-md-block sidebar bg-success" id="sidebar">
    <div class="sidebar-header mt-3 mb-3 text-center">
        <div class="close-btn">
            <button id="dismiss" onClick="closeNav()" class="btn close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <h3>
            <a class="blog-name h5" href="/">{{ site.title }}</a>
        </h3>
    </div>
    <div class="profile-section components text-center">
        <img class="profile-image mb-3" src="{{ 'assets/img/profile-picture.png' | relative_url}}" alt="My image">
        <div class="bio text-center">
            <p>
                Bug developer and my father's son. Night gathers, and now my coding begins. It shall not end until I understand what I wrote at last week.
            </p>
        </div>
            <ul class="list-unstyled components text-center">

                <div class="social-list">
                    {% for item in site.data.sidebar %}
                        <li class="list-inline-item">
                            <a href="{{%item.link}}" class="list-inline py-1 mx-auto icon" target="_blank">
                                {{%item.icon}}
                            </a>
                        </li>
                    {% endfor %}
                </div>
                <hr>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/portfolio/">Portfolio</a>
                </li>
                <li>
                    <a href="/about/">About</a>
                </li>
            </ul>
        </div>
</nav>