pre.highlight > button {
  /* Button top right  */
  position: absolute;
  right: 0;
  top: 0;
  /*  Button not visible */
  opacity: 0;
  font-family: monospace;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  border-color: white;
  color: white;
  background-color: #263238;
}

pre.highlight:hover > button {
  opacity: 1;
}

pre.highlight > button:active,
pre.highlight > button:focus {
  opacity: 1;
}

iframe.code-output {
  width: 100%;
  background-color: #fff;
}
