<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title}} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url}}">
    <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css' | relative_url}}">
    <link rel="stylesheet" href="{{ 'assets/css/dracula.css' | relative_url}}">
    <script src="{{ 'assets/js/barToggle.js' | relative_url}}"></script>
    <script src="{{ 'assets/js/all.min.js' | relative_url}}"></script>
    <script src="{{ 'assets/js/bootstrap.min.js' | relative_url}}"></script>

</head>
<body>

    <div class="container-fluid fill-height">
        <div class="row">

        <!-- Sidebar -->
        {% include sidebar.html %}

        <!-- Content -->
        <div class="col-sm pt-3 px-4" id="main">
            {% include navbar.html %}

            <!-- Content Goes here -->
            {{ content }}

        </div>

    </div>
</body>
</html>