---
layout: base
title: contact
---
<div class="container p-3 mb-5">
  <div class="header text-dark">
    <h1>Contact me</h1>
    <p class="text-muted">If you want to ask something, please contact me with the form below</p>
  </div>
  <hr>
  <form action="https://formspree.io/xoqklkjk" method="POST">
    <div class="form-group">
      <label for="inputEmail">Name</label>
      <input type="text" class="form-control" id="name" name="name" aria-describedby="name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input type="text" class="form-control" id="inputEmail" name="_replyto" aria-describedby="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea rows="5" type="text" class="form-control" id="message" name="message" aria-describedby="message" placeholder="Your message"></textarea>
    </div>
    <button class="btn btn-success" type="submit">Send</button>
  </form>
</div>