---
layout: base
---
{% if site.paginate %}
{% assign posts = paginator.posts %}
{% else %}
{% assign posts = site.posts %}
{% endif %}
<div class="posts">
    <div class="row">
      {% for post in posts %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
              <div class="card-content">
                <h2 class="card-title">{{ post.title }}</h2>
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <!-- <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_at}}  </p> -->
                <!-- <p class="card-text">{{post.content|truncatewords:30|safe}}</p> -->
                <a href="#" class="btn btn-secondary">Read More</a>
              </div>
            </div>
        </div>
      {% endfor %}
  </div>
  <hr>