---
layout: base
title: Portfolio
---

<div class="projects">
    <div class="row">
      {% for item in site.data.portfolio %}
        <div class="col-md-4">
          <div class="card mb-4">
              <div class="card-content bg-light p-3 rounded-lg">
                <div class="col text-center">
                <div class="card-img">
                  <img class="portfolio-cover" src="{{ item.cover-img | relative_url}}" alt="Post Cover">
                </div>
                <h2 class="card-title">{{ item.name }}</h2>
                  <a href="{{ item.link }}" class="btn btn-secondary">Preview</a>
                </div>
              </div>
            </div>
        </div>
      {% endfor %}
  </div>