---
layout: base
title: Portfolio
---

<div class="projects">
    <div class="row">
      {% for item in site.data.portfolio reversed%}
        <div class="col-md-4">
          <div class="card mb-4 bg-white">
              <div class="card-content shadow-sm p-3 rounded-lg">
                <div class="col text-center">
                  <div class="card-img">
                    <img class="portfolio-cover border" src="{{ item.cover-img | relative_url}}" alt="Post Cover">
                  </div>
                  <h2 class="card-title h5 text-dark">{{ item.name }}</h2>
                  <hr>
                  <a href="{{ item.link }}" class="btn btn-dark" target="_blank">Preview</a>
                </div>
              </div>
            </div>
        </div>
      {% endfor %}
  </div>