---
layout: base
title: page.title
---

<div class="container">
  <div class="row">
    <div class="col-md-12 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{{ page.title | escape }}</h1>
        <p class="text-muted">{{ page.author }} | {{ page.date | date: "%a, %b %d, %y" }}</p>
        <p class="text-muted"> Last update: {{ page.last_modified_at | date: "%a, %b %d, %y" }}</p>
        <img style="width: inherit;" src="http://hits.dwyl.com/dmenezesgabriel.github.io{{ page.url }}.svg" alt="hit count image"/>
        <hr>
        <p class="card-text ">{{ content }}</p>
      </div>
    </div>
  </div>
  {% include share.html %}
  <hr>
  {% if page.comments %}
    <div id="disqus_thread"></div>
    <script>
    var disqus_config = function () {
    this.page.url = '{{ page.url | absolute_url }}';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = '{{ page.url | absolute_url }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://dmenezesgabriel.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
  {% endif %}
</div>
